h1 input[type="text"]{
    font-size: 20px;
    vertical-align: middle;
}

h1 li{
    font-size: 20px;
    vertical-align: middle;
}

.form-inline .combobox-container {
    vertical-align: middle;
}

.chart-tab-body{

}

.nav {
    margin-bottom: 0px;
}