{% extends "base.html" %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="/static/css/rickshaw/graph.css">
    <link type="text/css" rel="stylesheet" href="/static/css/rickshaw/detail.css">
    <link type="text/css" rel="stylesheet" href="/static/css/rickshaw/legend.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script src="/static/js/d3.v2.js"></script>

    <script src="/static/js/rickshaw.js"></script>
    <script src="/static/js/render_graph.js"></script>

{% endblock %}

{% block content %}
<div class="container-fluid">
<div class="row-fluid">
    <h3>Things that were analyzed...</h3>

    <!-- Selector Column on left side -->
    <div class="span3">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                {% set selected = queries[0] %}
                {% for q in queries %}
                    <li class="graph_selector{% if q == selected %} active{% endif %}" id="{{q.name}}">
                        <a  href="#{{q.name}}">{{ q.long_name }}</a>
                        <!-- <a class="refresh" id="{{q.name}}" href="/analyze/{{q.name}}">{{ q.long_name }}</a> -->
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Graph Panel on right side -->
    <div class="span8">
    {% for query in queries %}
            {% include "render_graph.html" %}
            <script>
                var api_parameters = "query={{ query.name }}";
                var queryGraph = render_graph("{{ query.name }}", "{{ query.long_name }}", api_parameters, true)
                if({{query.name}} !== {{selected.name}}){
                    $("div#chart_container_{{query.name}}").hide();
                }
            </script>
    {% endfor %}
    </div>
    <script type="text/javascript">
        // Show selected div, hide the others
        $(".graph_selector").click(function () {
            $(".history_chart").hide();
            $(".active").removeClass("active");
            $(this).addClass("active");
            $("#chart_container_" + $(this).attr("id")).show();
        });
    </script>
</div>
</div>

{% endblock %}