<style>
#chart {
    position: relative;
    /*left: 40px;*/
    display: block;
}
/*#y_axis {
    position: relative;
    top: 0;
    bottom: 0;
    width: 40px;
}*/
#x_axis {
    position: relative;
    left: 40px;
    height: 40px;
}
</style>

<div id="chart_container">
    <div id="y_axis"></div>
    <div id="chart"></div>
    <div id="x_axis"></div>
    <div id="legend_container">
        <div id="smoother" title="Smoothing"></div>
        <div id="legend"></div>
    </div>
    <div id="slider"></div>
</div>
