

<div id="chart_container" class="history_chart">
    <div id="y_axis"></div>
    <div id="chart"></div>
    <div id="x_axis"></div>
    <div id="legend_container">
        <div id="smoother" title="Smoothing"></div>
        <div id="legend"></div>
    </div>
    <div id="slider"></div>
    <div id="loading_spinner" style="display:none; text-align: center">
        <img src="/static/img/loading.gif">
        <h3>This query is being calculated, check back in 5 minutes :)</h3>
    </div>
</div>

