{% extends "base.html" %}

{% block title %}Web History for {{site.url}} {% endblock %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="/static/css/rickshaw/graph.css">
    <link type="text/css" rel="stylesheet" href="/static/css/rickshaw/detail.css">
    <link type="text/css" rel="stylesheet" href="/static/css/rickshaw/legend.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script src="/static/js/d3.v2.js"></script>

    <script src="/static/js/rickshaw.js"></script>
    <script src="/static/js/render_graph.js"></script>

{% endblock %}

{% block content %}

<h3>Web History for {{site.url}}</h3>

<!-- Selector Column on left side -->
<div class="span3">
    <div class="well sidebar-nav">
        <ul class="nav nav-pills nav-stacked">
            {% set selected = queries[0] %}
            {% for q in queries %}
                <li class="graph_selector{% if q == selected %} active{% endif %}" id="{{q.name}}">
                        <a  href="#{{q.name}}">{{ q.long_name }}</a>
<!--                 <li{% if q == selected %} class="active"{% endif %}>
                    <a class="graph_selector" id="{{q.name}}" href="#{{q.name}}">{{ q.long_name }}</a> -->
                    <!-- <a class="refresh" id="{{q.name}}" href="/analyze/{{q.name}}">{{ q.long_name }}</a> -->
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% for query in queries %}
    <div class="span8">
        {% include "render_graph.html" %}
            <script>
                var api_parameters = "query={{ query.name }}" + "&site={{site.url}}";
                var siteGraph = render_graph("{{ query.name }}", "{{ query.name }}", api_parameters, false);
                if({{query.name}} !== {{selected.name}}){
                    $("div#chart_container_{{query.name}}").hide();
                }
            </script>
    </div>
    <script type="text/javascript">
        // Show selected div, hide the others
        $(".graph_selector").click(function () {
            $(".history_chart").hide();
            $(".active").removeClass("active");
            $(this).addClass("active");
            $("#chart_container_" + $(this).attr("id")).show();
        });
    </script>
{% endfor %}
{% endblock %}