{% extends "base.html" %}

{% block title %}Web History for {{site.url}} {% endblock %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="/static/css/rickshaw/graph.css">
    <link type="text/css" rel="stylesheet" href="/static/css/rickshaw/detail.css">
    <link type="text/css" rel="stylesheet" href="/static/css/rickshaw/legend.css">

    <script src="/static/js/d3.v2.js"></script>

    <script src="/static/js/rickshaw.js"></script>

{% endblock %}

{% block content %}



<h3>Overall Stats for {{site.url}}</h3>

<div id="chart_container">
    <div id="chart"></div>
    <div id="legend_container">
        <div id="smoother" title="Smoothing"></div>
        <div id="legend"></div>
    </div>
    <div id="slider"></div>
</div>

<script>

// set up our data series with 50 random data points

var series1 = {{ data }};
var series2 = {{ data }};

var seriesData = [ series1, series2 ];

// instantiate our graph!

var graph = new Rickshaw.Graph( {
    element: document.getElementById("chart"),
    width: 960,
    height: 250,
    renderer: 'area',
    series: [
        {
            color: "rgba(70,130,180,0.5)",
            data: seriesData[0],
            name: '{{ site.url }}'
        }, {
            color: "rgba(202,226,247,0.5)",
            data: seriesData[1],
            name: 'Average for all sites'
        }
    ]
} );

graph.renderer.unstack = true;
graph.render();

var hoverDetail = new Rickshaw.Graph.HoverDetail( {
    graph: graph
} );

var legend = new Rickshaw.Graph.Legend( {
    graph: graph,
    element: document.getElementById('legend')

} );

var shelving = new Rickshaw.Graph.Behavior.Series.Toggle( {
    graph: graph,
    legend: legend
} );

var axes = new Rickshaw.Graph.Axis.Time( {
    graph: graph
} );
axes.render();

</script>

{% endblock %}